<% var metaTitle = 'heheheheheh'; %>
<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8" />
<title><%= metaTitle %></title>
</head>
<body>
<% include ./_header %>

<% include ./_footer %>
</body>
